:root {
    --color1: rgb(94, 92, 70);
    --color2: rgb(74, 81, 48);
    --color3: rgb(41, 39, 24);
    --color4: rgb(66, 65, 34);
    --color5: rgb(115, 138, 122);
    --color6: rgb(140, 154, 131);
    --color7: rgb(107, 121, 98);
    --color8: rgb(140, 138, 123);
    --color9: rgb(81, 89, 66);
    --color10: rgb(165, 170, 164);
    --color11: rgb(115, 104, 82);
    --color12: rgb(173, 130, 140);
    --color13: rgb(123, 121, 100);
    --color14: rgb(166, 190, 174);
    --color15: rgb(140, 162, 149);
    --color16: rgb(147, 174, 155);
    --color17: rgb(131, 105, 106);
    --color18: rgb(133, 121, 107);
    --color19: rgb(173, 207, 206);
    --color20: rgb(156, 162, 148);
    --color21: rgb(180, 190, 181);
    --color22: rgb(222, 239, 231);
    --color23: rgb(188, 162, 165);
    --color24: rgb(199, 215, 214);
    --color25: rgb(206, 170, 172);
    --color26: rgb(230, 199, 205);
    --color27: rgb(223, 223, 223);
    --color28: rgb(148, 113, 107);
    --color29: rgb(148, 137, 107);
}